<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/style.css") }}">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <h1>Restaurant App</h1>
        </div>
        <div class="page-container">
            <a href="http://127.0.0.1:8000">Home</a>
            <a href="http://127.0.0.1:8000/order">Order</a>
            <a href="http://127.0.0.1:8000/menu/">Menu</a>
            <a href="http://127.0.0.1:8000/customers/">Customers</a>
        </div>
    </div>
    {% block body %}{% endblock %}   
</body>
</html>